@font-face {
  font-family: 'Big John Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Big John Regular'), url('./Big John.woff') format('woff');
  }

  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #b2bec3;
  }